pip~=24.2
tqdm

# AI
torch
torchvision
torchaudio
torchnet

# Data Preparation
geopandas
pandas
numpy
rioxarray
pystac-client
stackstac
scipy

# Backend
Flask~=3.1.0
GeoAlchemy2~=0.17.0
Werkzeug~=3.1.3
SQLAlchemy~=2.0.37
flasgger~=0.9.7.1
Flask-SQLAlchemy
gunicorn
psycopg2
